<!-- <ion-header>
  <ion-toolbar color="secondary">
    <ion-title>VIBEZ LIST</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content style="margin-top: 40px;">
    <ion-list>
        <ion-item *ngFor='let user of userList'>
            <ion-grid>
                <ion-row>
                    <ion-col size="3" (click)="openUserProfile(user)">
                        <img *ngIf="user.photoList.length &gt; 0" style="width: 50px;height: 50px;" src="{{imgPath}}thumbnail/{{user.photoList[0]['photo_name']}}_thumb.jpg">
                    </ion-col>
                    <ion-col size="9" style="position: relative;">
                        <div (click)="openUserProfile(user)">
                            <div>{{user.name}}</div>
                            <div>{{user.email_address}}</div>
                            <div>{{user.isVerify==0? "Waiting":"" }}</div>
                        </div>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-item>
    </ion-list>
</ion-content>