<ion-content force-overscroll="false">
    <div class="page-centered-element">
        <div class="content">

            <img class="logo" src="assets/images/logo.png">
            <ion-icon name="information-circle-outline" style="position: fixed;  margin-top: 10px; margin-left: 18%; font-size: 32px;"></ion-icon>
            <p class="bottom_para"><i>Next big social dating app</i></p>
            <ion-row>
                <ion-col>
                    <div class="subscribed_user">
                        <span style="font-size: 45px;">10,000</span><br/>
                        <i>users so far</i>
                    </div>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col>
                    <div class="reach_target">
                        <i>help us to reach</i><span style="font-size: 30px;"> 50,000</span> <br/><i> users to go live</i>

                    </div>

                    <div class="hr_mydiv">

                        <hr style="border:1px solid #ffffff; width: 30%; margin: auto;  ">
                    </div>
                </ion-col>
            </ion-row>




            <div class="its_dating_div">
                ITS NOT DATING <br/> ITS VIBING
            </div>
            <div class="bottom_footer">
                Follow us to stay connected @publicvibez
            </div>
        </div>

    </div>

</ion-content>