.logo {
    max-width: 40%;
    margin-top: 10px;
}

.logoTapCls {
    text-align: center;
    margin-top: 1%;
}

.bottom_para {
    font-size: 11px;
    margin-top: 10px;
    letter-spacing: 2px;
}

.subscribed_user {
    position: relative;
    left: 0px;
    top: 55px;
    font-size: 14px;
    width: 100%;
    text-align: center;
    padding: 10px;
    word-spacing: 5px;
    letter-spacing: 2px;
}

.reach_target {
    position: relative;
    top: 55%;
    left: 0px;
    // bottom: 250px;
    line-height: 30px;
    font-size: 14px;
    width: 100%;
    text-align: center;
    padding: 10px;
    word-spacing: 5px;
    letter-spacing: 2px;
}

.hr_mydiv {
    position: relative;
    left: 0px;
    top: 50%;
    // bottom: 190px;
    font-size: 17px;
    width: 100%;
    text-align: center;
    padding: 10px;
    word-spacing: 5px;
    letter-spacing: 2px;
}

.its_dating_div {
    width: 100%;
    position: fixed;
    left: 0px;
    bottom: 50px;
    text-align: center;
    font-size: 20px;
    padding: 10px;
    line-height: 30px;
}

.bottom_footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    border-top: 2px solid #ffffff;
    width: 100%;
    text-align: center;
    padding: 10px;
}

.socialLogin ul {
    margin-top: 15px!important;
}

ion-content {
    //  background: #55b4e0;
    // background: -moz-linear-gradient(left, #55b4e0 0%, #3a5d70 50%, #324957 100%);
    // background: -webkit-linear-gradient(left, #55b4e0 0%, #3a5d70 50%, #324957 100%);
    // background: linear-gradient(to right, #55b4e0 0%, #3a5d70 50%, #324957 100%);
    --background: #53abd9;
    --background: -moz-linear-gradient(left, #53abd9 0%, #395a6b 50%, #324a57 100%);
    --background: -webkit-linear-gradient(left, #53abd9 0%, #395a6b 50%, #324a57 100%);
    --background: linear-gradient(to right, #53abd9 0%, #395a6b 50%, #324a57 100%);
    display: table;
}

.page-centered-element {
    // position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-size: 15px;
}

.content {
    text-align: center;
    .buttons-container {
        // margin-top: 30px;
    }
}