<ion-header>

    <ion-toolbar class="new-background-color">
        <ion-buttons slot="start" color="danger">
            <ion-icon name="arrow-back-outline" style="font-size: medium;" (click)="back_trending()"></ion-icon>
        </ion-buttons>
        <ion-title class="ion-text-center">
            <b> Restuarant Details</b>
        </ion-title>

    </ion-toolbar>

</ion-header>

<ion-content>

    <div class="myrestaurant">
        <div class="imageSub" style="width: 100%;">
            <img src="assets/images/rest0.jpg" alt="Something" />
            <div class="blackbg"></div>
            <div class="label">
                <!-- <ion-icon name="document-text-outline" style="float: left;font-size: 30px;padding-left: 10px;">
                </ion-icon> -->
                <ion-icon name="create-outline" style="float: left;font-size: 30px;padding-left: 10px;"></ion-icon>
                <ion-icon name="heart-circle-outline" style="float: right;font-size: 30px;color:red"></ion-icon>
            </div>
        </div>
    </div>
    <br>
    <ion-card>

        <ion-card-content>
            <h2>Restaurant Name </h2>
            <h4>Location :- Address</h4><br> Keep close to Nature's heart... and break clear away, once in awhile, and climb a mountain or spend a week in the woods. Wash your spirit clean.
            <br>
            <ion-item>
                <div slot="end">
                    <ion-button color="dark" fill="outline" expand="full" shape="round">Take me there</ion-button>
                </div>
            </ion-item>
        </ion-card-content>
    </ion-card>


</ion-content>