<ion-header>
    <ion-toolbar>
        <ion-title>User </ion-title>
        <ion-buttons slot="start" (click)='back_livelist()'>
            <ion-button>
                <ion-icon name="arrow-back-outline" style="font-size: 15px; padding-left: 15px;color: skyblue;"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="mainDiv uploadInfo">

    <a href="JavaScript:void(0)" class="round-button-create-profile Photo-background" style="margin-top: 20%;">
        <ion-img *ngIf="img" [src]="img.path" style="height:50%;width:50%;"></ion-img>
        <ion-icon *ngIf="!img" name="add-outline" style="font-size: 50px;margin-top: 17%;color: darkgrey;"></ion-icon>
    </a>

    <h2>
        <ion-icon name="person-outline" style="color: skyblue;"></ion-icon>Zami Designer</h2>

    <div class="other">
        <div class="mainDiv uploadInfo">
            <div class="tableCell">
                <!-- <h2><span>Upload <b>Information</b></span></h2> -->
                <div class="form-div">
                    <div class="formElement">
                        <div class="ion-textarea-Box">
                            <ion-grid>
                                <ion-row class="ion-text-left">
                                    <ion-col size="12">
                                        <ion-textarea placeholder="About Other User" class="box-label label-padding"></ion-textarea>
                                    </ion-col>

                                </ion-row>
                            </ion-grid>
                        </div>
                    </div>


                    <div class="formElement">
                        <div class="selectBox">
                            <ion-grid>
                                <ion-row class="ion-text-left">
                                    <ion-col size="1" class="ion-padding-vertical box-left">
                                    </ion-col>
                                    <ion-col size="4" class="ion-padding-vertical box-label">
                                        <ion-label class="label-padding">Gender</ion-label>
                                    </ion-col>
                                    <ion-col size="7">
                                        <ion-select [(ngModel)]="preferredGender" class="myselect" (ionChange)="genderValue($event)" [selectedText]="genderSelectedtext">
                                            <ion-select-option *ngFor="let gender of genderprefer">{{gender.gendertype}}</ion-select-option>
                                        </ion-select>
                                    </ion-col>
                                </ion-row>
                            </ion-grid>

                        </div>
                    </div>

                    <div class="formElement">
                        <div class="selectBox">
                            <ion-grid>
                                <ion-row class="ion-text-left">
                                    <ion-col size="1" class="ion-padding-vertical box-left">
                                    </ion-col>
                                    <ion-col size="4" class="ion-padding-vertical box-label">
                                        <ion-label class="label-padding">BodyType</ion-label>
                                    </ion-col>
                                    <ion-col size="7">
                                        <ion-select [(ngModel)]="userbodytype" class="myselect" (ionChange)="bodytypeValue($event)" [selectedText]="bodytypetext">
                                            <ion-select-option *ngFor="let bodyt of bodytypearray">{{bodyt.bodytype}}</ion-select-option>
                                        </ion-select>
                                    </ion-col>
                                </ion-row>
                            </ion-grid>
                        </div>
                    </div>

                    <div class="formElement">
                        <div class="selectBox">
                            <ion-grid>
                                <ion-row class="ion-text-left">
                                    <ion-col size="1" class="ion-padding-vertical box-left">
                                    </ion-col>
                                    <ion-col size="4" class="ion-padding-vertical box-label">
                                        <ion-label class="label-padding">Height</ion-label>
                                    </ion-col>
                                    <ion-col size="7">
                                        <ion-select [(ngModel)]="userheight" class="myselect" (ionChange)="heightValue($event)" [selectedText]="userheighttext">
                                            <ion-select-option *ngFor="let ht of userheightarray">{{ht.height}}</ion-select-option>
                                        </ion-select>
                                    </ion-col>
                                </ion-row>
                            </ion-grid>
                        </div>
                    </div>


                    <div class="formElement">
                        <div class="selectBox">
                            <ion-grid>
                                <ion-row class="ion-text-left">
                                    <ion-col size="1" class="ion-padding-vertical box-left">
                                    </ion-col>
                                    <ion-col size="4" class="ion-padding-vertical box-label">
                                        <ion-label class="label-padding">Child</ion-label>
                                    </ion-col>
                                    <ion-col size="7">
                                        <ion-select [(ngModel)]="userchild" class="myselect" (ionChange)="childValue($event)" [selectedText]="userchildtext">
                                            <ion-select-option *ngFor="let ch of userchildarray">{{ch.child}}</ion-select-option>
                                        </ion-select>
                                    </ion-col>
                                </ion-row>
                            </ion-grid>
                        </div>
                    </div>

                    <div class="formElement">
                        <div class="selectBox">
                            <ion-grid>
                                <ion-row class="ion-text-left">
                                    <ion-col size="1" class="ion-padding-vertical box-left">
                                    </ion-col>
                                    <ion-col size="4" class="ion-padding-vertical box-label">
                                        <ion-label class="label-padding">Smoke</ion-label>
                                    </ion-col>
                                    <ion-col size="7">
                                        <ion-select [(ngModel)]="usersmoke" class="myselect" (ionChange)="smokeValue($event)" [selectedText]="usersmoketext">
                                            <ion-select-option *ngFor="let ch of usersmokearray">{{ch.smoke}}</ion-select-option>
                                        </ion-select>
                                    </ion-col>
                                </ion-row>
                            </ion-grid>
                        </div>
                    </div>

                    <div class="formElement">
                        <div class="selectBox">
                            <ion-grid>
                                <ion-row class="ion-text-left">
                                    <ion-col size="1" class="ion-padding-vertical box-left">
                                    </ion-col>
                                    <ion-col size="4" class="ion-padding-vertical box-label">
                                        <ion-label class="label-padding">Drinks</ion-label>
                                    </ion-col>
                                    <ion-col size="7">
                                        <ion-select [(ngModel)]="userdrinks" class="myselect" (ionChange)="smokeValue($event)" [selectedText]="userdrinkstext">
                                            <ion-select-option *ngFor="let ch of userDrinksarray">{{ch.smoke}}</ion-select-option>
                                        </ion-select>
                                    </ion-col>
                                </ion-row>
                            </ion-grid>
                        </div>
                    </div>
                    <div class="formElement">
                        <div class="selectBox">
                            <ion-grid>
                                <ion-row class="ion-text-left">
                                    <ion-col size="1" class="ion-padding-vertical box-left">
                                    </ion-col>
                                    <ion-col size="4" class="ion-padding-vertical box-label">
                                        <ion-label class="label-padding">Zodiac</ion-label>
                                    </ion-col>
                                    <ion-col size="7">
                                        <ion-select [(ngModel)]="userzodiac" class="myselect" [selectedText]="zodiactext">
                                        </ion-select>
                                    </ion-col>
                                </ion-row>
                            </ion-grid>
                        </div>
                    </div>


                    <div class="formElement">
                        <div class="selectBox">
                            <ion-grid>
                                <ion-row class="ion-text-left">
                                    <ion-col size="1" class="ion-padding-vertical box-left">
                                    </ion-col>
                                    <ion-col size="4" class="ion-padding-vertical box-label">
                                        <ion-label class="label-padding">Race</ion-label>
                                    </ion-col>
                                    <ion-col size="7">
                                        <ion-select placeholder="Select Race" class="myselect">
                                        </ion-select>
                                    </ion-col>
                                </ion-row>
                            </ion-grid>
                        </div>
                    </div>

                    <div class="formElement">
                        <div class="selectBox">
                            <ion-grid>
                                <ion-row class="ion-text-left">
                                    <ion-col size="1" class="ion-padding-vertical box-left">
                                    </ion-col>
                                    <ion-col size="4" class="ion-padding-vertical box-label">
                                        <ion-label class="label-padding">Prefecen</ion-label>
                                    </ion-col>
                                    <ion-col size="7">
                                        <ion-select placeholder="Select Prefecen" class="myselect">
                                        </ion-select>
                                    </ion-col>
                                </ion-row>
                            </ion-grid>
                        </div>
                    </div>



                    <ion-grid>
                        <ion-row class="ion-text-center">
                            <ion-col>
                                <a href="" class="round-button gradient-background">
                                    <ion-icon color="light" name="arrow-forward-outline" style="font-size: 30px;margin-top: 15%;"></ion-icon>
                                </a>

                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </div>
            </div>
        </div>
    </div>


</ion-content>