.mytab-button {
    --background: #000000;
    border-right: solid 1px #fff;
    color: #fff;
    font-size: medium;
}

.mytab-button:last-child {
    border-right: none;
}

.mytab-button.selected {
    color: #379DE5
}