<ion-header class="other list">
    <div class="myheader">
        <div class="menuClick">
        </div>
        <ion-title>
            <h1>Page {{ pageTitle }}</h1>
        </ion-title>
    </div>
</ion-header>
<ion-tabs class="other list">
    <!-- <div class="footerMenu"> -->
    <!-- <div class="mainDiv"> -->
    <ion-tab-bar slot="top" class="tabOpt" #tabs (ionSelect)="setTitle()">
        <ion-tab-button tab="trending" class="mytab-button" (click)="myevent($event)">
            Trending
        </ion-tab-button>
        <ion-tab-button tab="map" class="mytab-button">
            Map
        </ion-tab-button>
        <ion-tab-button tab="live" class="mytab-button">
            Live
        </ion-tab-button>
        <ion-tab-button tab="vibez" class="mytab-button">
            Vibez
        </ion-tab-button>
        <ion-tab-button tab="chat" class="mytab-button">
            Chat
        </ion-tab-button>
        <!-- <ul>
            <li>
                Trending
            </li>
            <li>
                Map

            </li>
            <li class="selected">
                Live
            </li>
            <li>
                Vibez
            </li>
            <li>
                Chat
            </li>
        </ul> -->

    </ion-tab-bar>
    <ion-tab-bar slot="top" class="login">
        <div class="searchTop">
            <div class="searchText">
                <input type="text">
            </div>
            <div class="wishlist">

            </div>
            <div class="add">

            </div>
        </div>
    </ion-tab-bar>

    <!-- </div> -->
    <!-- </div> -->
    <!-- <ion-tab-bar slot="bottom">
            <ion-tab-button tab="map">
                <img src="assets/images/footer1.png" alt="" title="" style="height: 80% !important;">
            </ion-tab-button>

            <ion-tab-button tab="myprofile">
                <img src="assets/images/footer2.png" alt="" title="" style="height: 80% !important;">
            </ion-tab-button>

            <ion-tab-button tab="membership">
                <img src="assets/images/footer3.png" alt="" title="" style="height: 80% !important;">
            </ion-tab-button>

            <ion-tab-button tab="chat">
                <img src="assets/images/footer4.png" alt="" title="" style="height: 80% !important;">
            </ion-tab-button>
        </ion-tab-bar> -->

    <!-- </div> -->
</ion-tabs>