<ion-content force-overscroll="false">
    <gl-background-video class="video" src="assets/video/IMG_1926.mp4" poster="assets/your_video_screen.png"></gl-background-video>
    <div class="page-centered-element">
        <div class="content">
            <img class="logo" src="assets/images/logo.png">
            <h3> Congrats! Your Profile was Successfully Created. <br/> Your account will be active once the Vibez Community is able to socialize <br/> ( See the medical communities
                <ion-label style="color:red;">Response</ion-label> we follow for Covid-19)</h3>
            <h5>We will launch once we reach 25,000 downloads. <br/> Help us reach our goal by telling your family and friends about us.</h5>
            <h5>Download Count:- 200</h5>
        </div>
    </div>
</ion-content>