<ion-content>
    <div class="other">
        <div class="mainDiv uploadInfo">
            <div class="tableCell">
                <h2><span>Upload <b>Information</b></span></h2>
                <div class="form-div">

                    <div class="formElement">
                        <div class="selectBox">
                            <ion-grid>
                                <ion-row class="ion-text-left">
                                    <ion-col size="1" class="ion-padding-vertical box-left">
                                    </ion-col>
                                    <ion-col size="4" class="ion-padding-vertical box-label">
                                        <ion-label class="label-padding">Height</ion-label>
                                    </ion-col>
                                    <ion-col size="7">
                                        <ion-select [(ngModel)]="userheight" class="myselect">
                                            <ion-select-option *ngFor="let ht of userheightarray">{{ht.height}}</ion-select-option>
                                        </ion-select>
                                    </ion-col>
                                </ion-row>
                            </ion-grid>
                        </div>
                    </div>

                    <div class="formElement">
                        <div class="selectBox">
                            <ion-grid>
                                <ion-row class="ion-text-left">
                                    <ion-col size="1" class="ion-padding-vertical box-left">
                                    </ion-col>
                                    <ion-col size="4" class="ion-padding-vertical box-label">
                                        <ion-label class="label-padding">Weight</ion-label>
                                    </ion-col>
                                    <ion-col size="7">
                                        <ion-select [(ngModel)]="userweight" class="myselect">
                                            <ion-select-option *ngFor="let ht of userweightarray">{{ht.val}}</ion-select-option>
                                        </ion-select>
                                    </ion-col>
                                </ion-row>
                            </ion-grid>
                        </div>
                    </div>

                    <div class="formElement">
                        <div class="selectBox">
                            <ion-grid>
                                <ion-row class="ion-text-left">
                                    <ion-col size="1" class="ion-padding-vertical box-left">
                                    </ion-col>
                                    <ion-col size="4" class="ion-padding-vertical box-label">
                                        <ion-label class="label-padding">Zodiac</ion-label>
                                    </ion-col>
                                    <ion-col size="7">
                                        <ion-select [(ngModel)]="userzodiac" class="myselect" placeholder="{{zodiactext}}">
                                            <ion-select-option *ngFor="let ch of userZodiacarray">{{ch.type}}</ion-select-option>
                                        </ion-select>
                                    </ion-col>
                                </ion-row>
                            </ion-grid>
                        </div>
                    </div>

                    <div class="formElement">
                        <div class="selectBox">
                            <ion-grid>
                                <ion-row class="ion-text-left">
                                    <ion-col size="1" class="ion-padding-vertical box-left">
                                    </ion-col>
                                    <ion-col size="4" class="ion-padding-vertical box-label">
                                        <ion-label class="label-padding">Child</ion-label>
                                    </ion-col>
                                    <ion-col size="7">
                                        <ion-select [(ngModel)]="userchild" class="myselect" (ionChange)="childValue($event)" placeholder="{{userchildtext}}">
                                            <ion-select-option *ngFor="let ch of userchildarray">{{ch.child}}</ion-select-option>
                                        </ion-select>
                                    </ion-col>
                                </ion-row>
                            </ion-grid>
                        </div>
                    </div>

                    <div class="formElement">
                        <div class="selectBox">
                            <ion-grid>
                                <ion-row class="ion-text-left">
                                    <ion-col size="1" class="ion-padding-vertical box-left">
                                    </ion-col>
                                    <ion-col size="4" class="ion-padding-vertical box-label">
                                        <ion-label class="label-padding">Gender Preference</ion-label>
                                    </ion-col>
                                    <ion-col size="7">
                                        <ion-select [(ngModel)]="userPreference" placeholder="Select Prefecen" class="myselect">
                                            <ion-select-option *ngFor="let gender of genderprefer">{{gender.gendertype}}</ion-select-option>
                                        </ion-select>
                                    </ion-col>
                                </ion-row>
                            </ion-grid>
                        </div>
                    </div>
                    <!-- 
                    <div class="formElement">
                        <div class="ion-textarea-Box">
                            <ion-grid>
                                <ion-row class="ion-text-left">
                                    <ion-col size="12">
                                        <ion-textarea [(ngModel)]="userAboutme" placeholder="About Me" class="box-label label-padding"></ion-textarea>
                                    </ion-col>

                                </ion-row>
                            </ion-grid>
                        </div>
                    </div> -->

                    <div class="formElement" style="display: none;">
                        <div class="selectBox">
                            <ion-grid>
                                <ion-row class="ion-text-left">
                                    <ion-col size="1" class="ion-padding-vertical box-left">
                                    </ion-col>
                                    <ion-col size="4" class="ion-padding-vertical box-label">
                                        <ion-label class="label-padding">BodyType</ion-label>
                                    </ion-col>
                                    <ion-col size="7">
                                        <ion-select [(ngModel)]="userbodytype" class="myselect" (ionChange)="bodytypeValue($event)" [selectedText]="bodytypetext">
                                            <ion-select-option *ngFor="let bodyt of bodytypearray">{{bodyt.bodytype}}</ion-select-option>
                                        </ion-select>
                                    </ion-col>
                                </ion-row>
                            </ion-grid>
                        </div>
                    </div>

                    <div class="formElement" style="display: none;">
                        <div class="selectBox">
                            <ion-grid>
                                <ion-row class="ion-text-left">
                                    <ion-col size="1" class="ion-padding-vertical box-left">
                                    </ion-col>
                                    <ion-col size="4" class="ion-padding-vertical box-label">
                                        <ion-label class="label-padding">Smoke</ion-label>
                                    </ion-col>
                                    <ion-col size="7">
                                        <ion-select [(ngModel)]="usersmoke" class="myselect" (ionChange)="smokeValue($event)" [selectedText]="usersmoketext">
                                            <ion-select-option *ngFor="let ch of usersmokearray">{{ch.smoke}}</ion-select-option>
                                        </ion-select>
                                    </ion-col>
                                </ion-row>
                            </ion-grid>
                        </div>
                    </div>

                    <div class="formElement" style="display: none;">
                        <div class="selectBox">
                            <ion-grid>
                                <ion-row class="ion-text-left">
                                    <ion-col size="1" class="ion-padding-vertical box-left">
                                    </ion-col>
                                    <ion-col size="4" class="ion-padding-vertical box-label">
                                        <ion-label class="label-padding">Drinks</ion-label>
                                    </ion-col>
                                    <ion-col size="7">
                                        <ion-select [(ngModel)]="userdrinks" class="myselect" (ionChange)="smokeValue($event)" placeholder="{{userdrinkstext}}">
                                            <ion-select-option *ngFor="let ch of usersmokearray">{{ch.smoke}}</ion-select-option>
                                        </ion-select>
                                    </ion-col>
                                </ion-row>
                            </ion-grid>
                        </div>
                    </div>

                    <div class="formElement" style="display: none;">
                        <div class="selectBox">
                            <ion-grid>
                                <ion-row class="ion-text-left">
                                    <ion-col size="1" class="ion-padding-vertical box-left">
                                    </ion-col>
                                    <ion-col size="4" class="ion-padding-vertical box-label">
                                        <ion-label class="label-padding">Race</ion-label>
                                    </ion-col>
                                    <ion-col size="7">
                                        <ion-select [(ngModel)]="userRace" placeholder="Select Race" class="myselect">
                                            <ion-select-option *ngFor="let ch of usersmokearray">{{ch.smoke}}</ion-select-option>
                                        </ion-select>
                                    </ion-col>
                                </ion-row>
                            </ion-grid>
                        </div>
                    </div>




                    <ion-grid>
                        <ion-row class="ion-text-center">
                            <ion-col>
                                <a href="JavaScript:void(0)" class="round-button gradient-background" (click)="goto_registerfinish()">
                                    <ion-icon color="light" name="arrow-forward-outline" style="font-size: 30px;margin-top: 15%;"></ion-icon>
                                </a>

                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </div>
            </div>
        </div>
    </div>


</ion-content>