 .myselect {
     height: 50px;
     outline: none;
     width: 100%;
     border: none;
     padding: 0 15px 0 30px;
     background-color: transparent;
     position: relative;
     z-index: 1;
     font-size: 14px;
 }
 
 .box-left {
     background: #37A4DC;
     padding-right: -10px;
 }
 
 .box-label {
     background: #CCD1D1;
     font-size: small;
 }
 
 .label-padding {
     padding-left: 15px;
 }
 
 .myselect-label {
     //  width: 100%;
     //  height: 40px;
     //  padding: 18px 17px 18px 30px;
     //  background: #CCD1D1;
     font-size: small;
 }