<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>Photo Verification</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
   <div>VERIFICATION</div>
   <div>
     A live and phone number required to proceed.
   </div>
   <ion-list>
    <ion-item *ngFor="let img of images; index as pos" text-wrap>
        <ion-thumbnail  style="width: 200px;height: 200px;margin-left: 15%;">
            <ion-img [src]="img.path" ></ion-img>
        </ion-thumbnail>
        <ion-button slot="end" fill="clear" (click)="deleteImage(img, pos)">
            <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-button>
    </ion-item>
  </ion-list>
  <div class="formElement">
    <ion-button color="secondary" *ngIf="images.length==0" expand="full" class="btn-font-size-large" (click)="selectImage()">Upload</ion-button>
    <ion-button color="secondary" *ngIf="images.length==1" expand="full" class="btn-font-size-large" (click)="verifyNow()">Verify now</ion-button>
  </div>
</ion-content>
