<!-- <ion-header class="other list mainDiv">
    <ion-toolbar>
        <div class="menuClick">

            <ion-title>
                <h1>Live <b>List</b></h1>
            </ion-title>
        </div>

    </ion-toolbar>
</ion-header> -->

<ion-content class="other list">
    <div class="mainDiv login">
        <!-- <header>
            <div class="menuClick">

            </div>
            <h1>Live</h1>
        </header> -->

        <div class="sortBy">
            <p>Sort By: </p>
            <div class="sortOpt">
                <button class="selected">Status</button><button (click)="sort_by_name()">Name</button>
            </div>
        </div>

        <div class="listWrap">
            <ion-list lines="none">

                <ion-item-sliding id="item100" class="sliding-item">
                    <ion-item class="sliding-item-inner">
                        <div class="listInOpt profile" (click)="User_profile()">
                            <img src="assets/images/profile.svg" alt="Profile" title="Profile">
                        </div>
                        <ion-label class="ion-text-wrap" (click)="User_profile()">
                            <h2>Zami Designer</h2>
                            <p>zamidesigner@gmail.com</p>
                        </ion-label>
                        <div class="listInOpt location" (click)="User_location()">
                            <img src="assets/images/marker.svg" alt="Location" title="Location">
                        </div>
                        <div class="listInOpt status">
                            <div class="statusIn"></div>
                        </div>
                    </ion-item>
                    <ion-item-options side="start">
                        <ion-item-option color="danger" (click)="add_vibezlist()">
                            <ion-icon slot="icon-only" name="heart"></ion-icon>
                        </ion-item-option>
                        <ion-item-option color="danger" (click)="add_blocklist()">
                            <ion-icon slot="icon-only" name="trash"></ion-icon>
                        </ion-item-option>
                    </ion-item-options>
                </ion-item-sliding>


                <ion-item-sliding id="item100" class="sliding-item">
                    <ion-item class="sliding-item-inner">
                        <div class="listInOpt profile" (click)="User_profile()">
                            <img src="assets/images/profile.svg" alt="Profile" title="Profile">
                        </div>
                        <ion-label class="ion-text-wrap" (click)="User_profile()">
                            <h2>Zami Designer</h2>
                            <p>zamidesigner@gmail.com</p>
                        </ion-label>
                        <div class="listInOpt location" (click)="User_location()">
                            <img src="assets/images/marker.svg" alt="Location" title="Location">
                        </div>
                        <div class="listInOpt status">
                            <div class="statusIn"></div>
                        </div>
                    </ion-item>
                    <ion-item-options side="start">
                        <ion-item-option color="danger" (click)="add_vibezlist()">
                            <ion-icon slot="icon-only" name="heart"></ion-icon>
                        </ion-item-option>
                        <ion-item-option color="danger" (click)="add_blocklist()">
                            <ion-icon slot="icon-only" name="trash"></ion-icon>
                        </ion-item-option>
                    </ion-item-options>
                </ion-item-sliding>

                <ion-item-sliding id="item100" class="sliding-item">
                    <ion-item class="sliding-item-inner">
                        <div class="listInOpt profile" (click)="User_profile()">
                            <img src="assets/images/profile.svg" alt="Profile" title="Profile">
                        </div>
                        <ion-label class="ion-text-wrap" (click)="User_profile()">
                            <h2>Zami Designer</h2>
                            <p>zamidesigner@gmail.com</p>
                        </ion-label>
                        <div class="listInOpt location" (click)="User_location()">
                            <img src="assets/images/marker.svg" alt="Location" title="Location">
                        </div>
                        <div class="listInOpt status">
                            <div class="statusIn"></div>
                        </div>
                    </ion-item>
                    <ion-item-options side="start">
                        <ion-item-option color="danger" (click)="add_vibezlist()">
                            <ion-icon slot="icon-only" name="heart"></ion-icon>
                        </ion-item-option>
                        <ion-item-option color="danger" (click)="add_blocklist()">
                            <ion-icon slot="icon-only" name="trash"></ion-icon>
                        </ion-item-option>
                    </ion-item-options>
                </ion-item-sliding>

                <ion-item-sliding id="item100" class="sliding-item">
                    <ion-item class="sliding-item-inner">
                        <div class="listInOpt profile" (click)="User_profile()">
                            <img src="assets/images/profile.svg" alt="Profile" title="Profile">
                        </div>
                        <ion-label class="ion-text-wrap" (click)="User_profile()">
                            <h2>Zami Designer</h2>
                            <p>zamidesigner@gmail.com</p>
                        </ion-label>
                        <div class="listInOpt location" (click)="User_location()">
                            <img src="assets/images/marker.svg" alt="Location" title="Location">
                        </div>
                        <div class="listInOpt status">
                            <div class="statusIn"></div>
                        </div>
                    </ion-item>
                    <ion-item-options side="start">
                        <ion-item-option color="danger" (click)="add_vibezlist()">
                            <ion-icon slot="icon-only" name="heart"></ion-icon>
                        </ion-item-option>
                        <ion-item-option color="danger" (click)="add_blocklist()">
                            <ion-icon slot="icon-only" name="trash"></ion-icon>
                        </ion-item-option>
                    </ion-item-options>
                </ion-item-sliding>

                <ion-item-sliding id="item100" class="sliding-item">
                    <ion-item class="sliding-item-inner">
                        <div class="listInOpt profile" (click)="User_profile()">
                            <img src="assets/images/profile.svg" alt="Profile" title="Profile">
                        </div>
                        <ion-label class="ion-text-wrap" (click)="User_profile()">
                            <h2>Zami Designer</h2>
                            <p>zamidesigner@gmail.com</p>
                        </ion-label>
                        <div class="listInOpt location" (click)="User_location()">
                            <img src="assets/images/marker.svg" alt="Location" title="Location">
                        </div>
                        <div class="listInOpt status">
                            <div class="statusIn"></div>
                        </div>
                    </ion-item>
                    <ion-item-options side="start">
                        <ion-item-option color="danger" (click)="add_vibezlist()">
                            <ion-icon slot="icon-only" name="heart"></ion-icon>
                        </ion-item-option>
                        <ion-item-option color="danger" (click)="add_blocklist()">
                            <ion-icon slot="icon-only" name="trash"></ion-icon>
                        </ion-item-option>
                    </ion-item-options>
                </ion-item-sliding>

                <ion-item-sliding id="item100" class="sliding-item">
                    <ion-item class="sliding-item-inner">
                        <div class="listInOpt profile" (click)="User_profile()">
                            <img src="assets/images/profile.svg" alt="Profile" title="Profile">
                        </div>
                        <ion-label class="ion-text-wrap" (click)="User_profile()">
                            <h2>Zami Designer</h2>
                            <p>zamidesigner@gmail.com</p>
                        </ion-label>
                        <div class="listInOpt location" (click)="User_location()">
                            <img src="assets/images/marker.svg" alt="Location" title="Location">
                        </div>
                        <div class="listInOpt status">
                            <div class="statusIn"></div>
                        </div>
                    </ion-item>
                    <ion-item-options side="start">
                        <ion-item-option color="danger" (click)="add_vibezlist()">
                            <ion-icon slot="icon-only" name="heart"></ion-icon>
                        </ion-item-option>
                        <ion-item-option color="danger" (click)="add_blocklist()">
                            <ion-icon slot="icon-only" name="trash"></ion-icon>
                        </ion-item-option>
                    </ion-item-options>
                </ion-item-sliding>

                <ion-item-sliding id="item100" class="sliding-item">
                    <ion-item class="sliding-item-inner">
                        <div class="listInOpt profile" (click)="User_profile()">
                            <img src="assets/images/profile.svg" alt="Profile" title="Profile">
                        </div>
                        <ion-label class="ion-text-wrap" (click)="User_profile()">
                            <h2>Zami Designer</h2>
                            <p>zamidesigner@gmail.com</p>
                        </ion-label>
                        <div class="listInOpt location" (click)="User_location()">
                            <img src="assets/images/marker.svg" alt="Location" title="Location">
                        </div>
                        <div class="listInOpt status">
                            <div class="statusIn"></div>
                        </div>
                    </ion-item>
                    <ion-item-options side="start">
                        <ion-item-option color="danger" (click)="add_vibezlist()">
                            <ion-icon slot="icon-only" name="heart"></ion-icon>
                        </ion-item-option>
                        <ion-item-option color="danger" (click)="add_blocklist()">
                            <ion-icon slot="icon-only" name="trash"></ion-icon>
                        </ion-item-option>
                    </ion-item-options>
                </ion-item-sliding>




            </ion-list>
        </div>
    </div>

</ion-content>