<ion-header>

    <ion-toolbar class="new-background-color">
        <ion-buttons slot="start" color="danger">
            <ion-icon name="arrow-back-outline" style="font-size: medium;" (click)="back_trending()"></ion-icon>

        </ion-buttons>
        <ion-title class="ion-text-center">
            <b> Restaurant Feedback</b>
        </ion-title>

    </ion-toolbar>

</ion-header>

<ion-content>

    <div class="myrestaurant">
        <div class="imageSub" style="width: 100%;">
            <img src="assets/images/rest0.jpg" alt="Something" />
            <div class="blackbg"></div>
            <div class="label">
                <ion-icon name="document-text-outline" style="float: left;font-size: 30px;padding-left: 10px;">
                </ion-icon>
                <!-- <ion-icon name="create-outline" style="float: left;font-size: 30px;padding-left: 10px;"></ion-icon> -->
                <ion-icon name="heart-circle-outline" style="float: right;font-size: 30px;color:red"></ion-icon>
            </div>
        </div>
    </div>
    <br>

    <ion-list lines="none">
        <ion-list-header>
            Restaurant Name
        </ion-list-header>

        <ion-item class="feedback-box">

            <ion-avatar slot="start">
                <img src="assets/images/sg1.jpg">
            </ion-avatar>
            <ion-label class="feedback_label">
                <h2>Finn</h2>
                <h3>I'm a big deal</h3>
                <p>Listen, I've had a pretty messed up day...</p>
            </ion-label>

        </ion-item>

        <ion-item class="feedback-box">
            <ion-avatar slot="start">
                <img src="assets/images/sg1.jpg">
            </ion-avatar>
            <ion-label class="feedback_label">
                <h2>Han</h2>
                <h3>Look, kid...</h3>
                <p>I've got enough on my plate as it is, and I...</p>
            </ion-label>
        </ion-item>
    </ion-list>

    <div class="formElement">
        <div class="ion-textarea-Box">
            <ion-grid>
                <ion-row class="ion-text-left">
                    <ion-col size="12">
                        <ion-textarea placeholder="Write feedback here in 80 words" class="feed-textbox"></ion-textarea>
                    </ion-col>

                </ion-row>
            </ion-grid>
        </div>
    </div>

    <ion-item>
        <div slot="end">
            <ion-button color="dark" fill="outline" expand="full" shape="round">Save</ion-button>
        </div>
    </ion-item>

</ion-content>