.new-background-color {
    --background: skyblue;
}

.feedback-box {
    margin: 10px;
    --background: lightgrey;
    background-image: linear-gradient(to bottom right, white, grey);
}

.feedback_label {
    padding: 7px;
}

.feed-textbox {
    width: 90%;
    margin: 15px;
    border: 1px solid;
    padding: 7px;
    font-size: small;
    color: #AEB6BF;
}

div.imageSub {
    position: relative;
}

div.imageSub img {
    z-index: 1;
}

div.imageSub div {
    position: absolute;
    left: 1%;
    right: 1%;
    bottom: 0;
    padding: 4px;
    height: 50px;
    // line-height: 16px;
    text-align: center;
    overflow: hidden;
}

div.imageSub div.blackbg {
    z-index: 2;
    background-color: #000;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    opacity: 0.5;
}

div.imageSub div.label {
    z-index: 3;
    color: white;
}