<ion-content>

    <div class="other">
        <div class="mainDiv uploadInfo">
            <div class="tableCell">
                <h2><span>Upload <b>Information</b></span></h2>
                <h2><span>Profile <b>Picture</b></span></h2>
                <img *ngIf="userPhoto!='undefined'" (click)="selectImage()" src="{{photoPath}}thumbnail/{{userPhoto}}_thumb.jpg" class="round-button-create-profile" style="height:100px;width:100px;">
                <a *ngIf="userPhoto=='undefined'" (click)="selectImage()" href="JavaScript:void(0)" class="round-button-create-profile Photo-background" style="margin-top: 20%;">
                    <ion-icon *ngIf="userPhoto=='undefined'" name="add-outline" style="font-size: 50px;margin-top: 17%;color: darkgrey;"></ion-icon>
                </a>
                <div class="form-div">

                    <div class="formElement">
                        <div class="selectBox">
                            <ion-grid>
                                <ion-row class="ion-text-left">
                                    <ion-col size="1" class="ion-padding-vertical box-left">
                                    </ion-col>
                                    <ion-col size="4" class="ion-padding-vertical box-label">
                                        <ion-label class="label-padding">Name</ion-label>
                                    </ion-col>
                                    <ion-col size="7">
                                        <input type="text" [(ngModel)]="NickName" class="myselect">
                                    </ion-col>
                                </ion-row>
                            </ion-grid>

                        </div>
                    </div>
                    <div class="formElement">
                        <div class="selectBox">
                            <ion-grid>
                                <ion-row class="ion-text-left">
                                    <ion-col size="1" class="ion-padding-vertical box-left">
                                    </ion-col>
                                    <ion-col size="4" class="ion-padding-vertical box-label">
                                        <ion-label class="label-padding">Email</ion-label>
                                    </ion-col>
                                    <ion-col size="7">
                                        <input type="email" [(ngModel)]="email" class="myselect" readonly>
                                    </ion-col>
                                </ion-row>
                            </ion-grid>

                        </div>
                    </div>
                    <div class="formElement" style="display: none;">
                        <div class="selectBox">
                            <ion-grid>
                                <ion-row class="ion-text-left">
                                    <ion-col size="1" class="ion-padding-vertical box-left">
                                    </ion-col>
                                    <ion-col size="4" class="ion-padding-vertical box-label">
                                        <ion-label class="label-padding">username</ion-label>
                                    </ion-col>
                                    <ion-col size="7">
                                        <input type="email" [(ngModel)]="username" class="myselect">

                                    </ion-col>
                                </ion-row>
                            </ion-grid>

                        </div>
                    </div>
                    <div class="formElement">
                        <div class="selectBox">
                            <ion-grid>
                                <ion-row class="ion-text-left">
                                    <ion-col size="1" class="ion-padding-vertical box-left">
                                    </ion-col>
                                    <ion-col size="4" class="ion-padding-vertical box-label">
                                        <ion-label class="label-padding">Birthday</ion-label>
                                    </ion-col>
                                    <ion-col size="7">
                                        <input type="number" [(ngModel)]="userBirthday" class="myselect">
                                        <!-- <ion-datetime class="general-input ion-input-class" [(ngModel)]="userBirthday" displayFormat="DD-MMM-YYYY" placeholder="BIRTHDAY" min="1950-03-14" max="2001-01-01"></ion-datetime> -->
                                    </ion-col>
                                </ion-row>
                            </ion-grid>

                        </div>
                    </div>
                    <div class="formElement">
                        <div class="selectBox">
                            <ion-grid>
                                <ion-row class="ion-text-left">
                                    <ion-col size="1" class="ion-padding-vertical box-left">
                                    </ion-col>
                                    <ion-col size="4" class="ion-padding-vertical box-label">
                                        <ion-label class="label-padding">Mobile</ion-label>
                                    </ion-col>
                                    <ion-col size="7">
                                        <input type="email" [(ngModel)]="userMobile" class="myselect" readonly>

                                    </ion-col>
                                </ion-row>
                            </ion-grid>

                        </div>
                    </div>
                    <div class="formElement">
                        <div class="selectBox">
                            <ion-grid>
                                <ion-row class="ion-text-left">
                                    <ion-col size="1" class="ion-padding-vertical box-left">
                                    </ion-col>
                                    <ion-col size="4" class="ion-padding-vertical box-label">
                                        <ion-label class="label-padding">Area</ion-label>
                                    </ion-col>
                                    <ion-col size="7">
                                        <input type="email" [(ngModel)]="userArea" class="myselect">

                                    </ion-col>
                                </ion-row>
                            </ion-grid>

                        </div>
                    </div>
                    <div class="formElement">
                        <div class="selectBox">
                            <ion-grid>
                                <ion-row class="ion-text-left">
                                    <ion-col size="1" class="ion-padding-vertical box-left">
                                    </ion-col>
                                    <ion-col size="4" class="ion-padding-vertical box-label">
                                        <ion-label class="label-padding">Pincode</ion-label>
                                    </ion-col>
                                    <ion-col size="7">
                                        <input type="email" [(ngModel)]="userPincode" class="myselect">

                                    </ion-col>
                                </ion-row>
                            </ion-grid>

                        </div>
                    </div>
                    <div class="formElement">
                        <div class="selectBox">
                            <ion-grid>
                                <ion-row class="ion-text-left">
                                    <ion-col size="1" class="ion-padding-vertical box-left">
                                    </ion-col>
                                    <ion-col size="4" class="ion-padding-vertical box-label">
                                        <ion-label class="label-padding">State</ion-label>
                                    </ion-col>
                                    <ion-col size="7">
                                        <input type="email" [(ngModel)]="userState" class="myselect">

                                    </ion-col>
                                </ion-row>
                            </ion-grid>

                        </div>
                    </div>
                    <div class="formElement">
                        <div class="selectBox">
                            <ion-grid>
                                <ion-row class="ion-text-left">
                                    <ion-col size="1" class="ion-padding-vertical box-left">
                                    </ion-col>
                                    <ion-col size="4" class="ion-padding-vertical box-label">
                                        <ion-label class="label-padding">City</ion-label>
                                    </ion-col>
                                    <ion-col size="7">
                                        <input type="email" [(ngModel)]="usercity" class="myselect">

                                    </ion-col>
                                </ion-row>
                            </ion-grid>

                        </div>
                    </div>
                    <div class="formElement">
                        <div class="selectBox">
                            <ion-grid>
                                <ion-row class="ion-text-left">
                                    <ion-col size="1" class="ion-padding-vertical box-left">
                                    </ion-col>
                                    <ion-col size="4" class="ion-padding-vertical box-label">
                                        <ion-label class="label-padding">Gender</ion-label>
                                    </ion-col>
                                    <ion-col size="7">
                                        <ion-select [(ngModel)]="preferredGender" class="myselect">
                                            <ion-select-option *ngFor="let gender of genderprefer">{{gender.gendertype}}</ion-select-option>
                                        </ion-select>
                                    </ion-col>
                                </ion-row>
                            </ion-grid>

                        </div>
                    </div>

                    <div class="formElement">
                        <div class="selectBox">
                            <ion-grid>
                                <ion-row class="ion-text-left">
                                    <ion-col size="1" class="ion-padding-vertical box-left">
                                    </ion-col>
                                    <ion-col size="4" class="ion-padding-vertical box-label">
                                        <ion-label class="label-padding">Height</ion-label>
                                    </ion-col>
                                    <ion-col size="7">
                                        <ion-select [(ngModel)]="userheight" class="myselect">
                                            <ion-select-option *ngFor="let ht of userheightarray">{{ht.height}}</ion-select-option>
                                        </ion-select>
                                    </ion-col>
                                </ion-row>
                            </ion-grid>
                        </div>
                    </div>

                    <div class="formElement">
                        <div class="selectBox">
                            <ion-grid>
                                <ion-row class="ion-text-left">
                                    <ion-col size="1" class="ion-padding-vertical box-left">
                                    </ion-col>
                                    <ion-col size="4" class="ion-padding-vertical box-label">
                                        <ion-label class="label-padding">Weight</ion-label>
                                    </ion-col>
                                    <ion-col size="7">
                                        <ion-select [(ngModel)]="userweight" class="myselect">
                                            <ion-select-option *ngFor="let ht of userweightarray">{{ht.val}}</ion-select-option>
                                        </ion-select>
                                    </ion-col>
                                </ion-row>
                            </ion-grid>
                        </div>
                    </div>

                    <div class="formElement">
                        <div class="selectBox">
                            <ion-grid>
                                <ion-row class="ion-text-left">
                                    <ion-col size="1" class="ion-padding-vertical box-left">
                                    </ion-col>
                                    <ion-col size="4" class="ion-padding-vertical box-label">
                                        <ion-label class="label-padding">Zodiac</ion-label>
                                    </ion-col>
                                    <ion-col size="7">
                                        <ion-select [(ngModel)]="userzodiac" class="myselect" placeholder="{{zodiactext}}">
                                            <ion-select-option *ngFor="let ch of userZodiacarray">{{ch.type}}</ion-select-option>
                                        </ion-select>
                                    </ion-col>
                                </ion-row>
                            </ion-grid>
                        </div>
                    </div>

                    <div class="formElement">
                        <div class="selectBox">
                            <ion-grid>
                                <ion-row class="ion-text-left">
                                    <ion-col size="1" class="ion-padding-vertical box-left">
                                    </ion-col>
                                    <ion-col size="4" class="ion-padding-vertical box-label">
                                        <ion-label class="label-padding">Child</ion-label>
                                    </ion-col>
                                    <ion-col size="7">
                                        <ion-select [(ngModel)]="userchild" class="myselect" [selectedText]="userchildtext">
                                            <ion-select-option *ngFor="let ch of userchildarray">{{ch.child}}</ion-select-option>
                                        </ion-select>
                                    </ion-col>
                                </ion-row>
                            </ion-grid>
                        </div>
                    </div>

                    <div class="formElement">
                        <div class="selectBox">
                            <ion-grid>
                                <ion-row class="ion-text-left">
                                    <ion-col size="1" class="ion-padding-vertical box-left">
                                    </ion-col>
                                    <ion-col size="4" class="ion-padding-vertical box-label">
                                        <ion-label class="label-padding">Prefecen</ion-label>
                                    </ion-col>
                                    <ion-col size="7">
                                        <ion-select [(ngModel)]="userPreference" placeholder="Select Prefecen" class="myselect">
                                            <ion-select-option *ngFor="let gender of genderprefer">{{gender.gendertype}}</ion-select-option>
                                        </ion-select>
                                    </ion-col>
                                </ion-row>
                            </ion-grid>
                        </div>
                    </div>

                    <!-- <div class="formElement">
                        <div class="ion-textarea-Box">
                            <ion-grid>
                                <ion-row class="ion-text-left">
                                    <ion-col size="12">
                                        <ion-textarea [(ngModel)]="userAboutme" placeholder="About Me" class="box-label label-padding"></ion-textarea>
                                    </ion-col>

                                </ion-row>
                            </ion-grid>
                        </div>
                    </div> -->

                    <div class="formElement" style="display: none;">
                        <div class="selectBox">
                            <ion-grid>
                                <ion-row class="ion-text-left">
                                    <ion-col size="1" class="ion-padding-vertical box-left">
                                    </ion-col>
                                    <ion-col size="4" class="ion-padding-vertical box-label">
                                        <ion-label class="label-padding">BodyType</ion-label>
                                    </ion-col>
                                    <ion-col size="7">
                                        <ion-select [(ngModel)]="userbodytype" class="myselect" [selectedText]="bodytypetext">

                                        </ion-select>
                                    </ion-col>
                                </ion-row>
                            </ion-grid>
                        </div>
                    </div>

                    <div class="formElement" style="display: none;">
                        <div class="selectBox">
                            <ion-grid>
                                <ion-row class="ion-text-left">
                                    <ion-col size="1" class="ion-padding-vertical box-left">
                                    </ion-col>
                                    <ion-col size="4" class="ion-padding-vertical box-label">
                                        <ion-label class="label-padding">Smoke</ion-label>
                                    </ion-col>
                                    <ion-col size="7">
                                        <ion-select [(ngModel)]="usersmoke" class="myselect" [selectedText]="usersmoketext">
                                        </ion-select>
                                    </ion-col>
                                </ion-row>
                            </ion-grid>
                        </div>
                    </div>

                    <div class="formElement" style="display: none;">
                        <div class="selectBox">
                            <ion-grid>
                                <ion-row class="ion-text-left">
                                    <ion-col size="1" class="ion-padding-vertical box-left">
                                    </ion-col>
                                    <ion-col size="4" class="ion-padding-vertical box-label">
                                        <ion-label class="label-padding">Drinks</ion-label>
                                    </ion-col>
                                    <ion-col size="7">
                                        <ion-select [(ngModel)]="userdrinks" class="myselect" [selectedText]="userdrinkstext">
                                        </ion-select>
                                    </ion-col>
                                </ion-row>
                            </ion-grid>
                        </div>
                    </div>


                    <div class="formElement" style="display: none;">
                        <div class="selectBox">
                            <ion-grid>
                                <ion-row class="ion-text-left">
                                    <ion-col size="1" class="ion-padding-vertical box-left">
                                    </ion-col>
                                    <ion-col size="4" class="ion-padding-vertical box-label">
                                        <ion-label class="label-padding">Race</ion-label>
                                    </ion-col>
                                    <ion-col size="7">
                                        <ion-select [(ngModel)]="userRace" placeholder="Select Race" class="myselect">
                                            <ion-select-option *ngFor="let ch of usersmokearray">{{ch.smoke}}</ion-select-option>
                                        </ion-select>
                                    </ion-col>
                                </ion-row>
                            </ion-grid>
                        </div>
                    </div>



                    <ion-grid>
                        <ion-row class="ion-text-center">
                            <ion-col>
                                <a href="JavaScript:void(0)" class="round-button gradient-background" (click)="goto_registerfinish()">
                                    <ion-icon color="light" name="arrow-forward-outline" style="font-size: 30px;margin-top: 15%;"></ion-icon>
                                </a>

                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </div>
            </div>
        </div>
    </div>


</ion-content>