.verifyotp {
    margin: 40px 20px;
}

.verifyotp h5 {
    text-align: center;
}

.verifyotp p {
    text-align: center;
    font-size: 12px;
}

.verifyotpcol {
    // border: 2px solid rgb(212, 9, 9);
    border-radius: 40px;
    margin: 2px 2px 20px 2px;
}

.btn {
    --background: rgb(212, 9, 9);
    border-radius: 5px;
    --color: #fff;
    font-family: Helvetica;
    font-weight: 600;
    font-size: 13px;
}

.btn1 {
    // --background: rgb(212, 9, 9);
    border: 2px solid rgb(241, 199, 50);
    border-radius: 5px;
    color: rgb(212, 9, 9);
    font-family: Helvetica;
    font-weight: 600;
    font-size: 13px;
    margin-top: 10px;
}

.btn2 {
    font-family: Helvetica;
    font-weight: 600;
    font-size: 13px;
    margin-top: 10px;
    --background: rgb(241, 199, 50);
    color: rgb(212, 9, 9);
}

#time {
    font-size: 14px;
}