<ion-content class="mainDiv uploadInfo">

    <div class="verifyotp">
        <a href="" class="round-button-create-profile gradient-background" style="margin-top: 20%;">
            <ion-icon name="person-outline" style="font-size: 50px;margin-top: 10%;"></ion-icon>
        </a>
        <br>
        <h2><span>CREATE <b>PROFILE</b></span></h2>
        <h5 style="color: #ffffff;">A verification code has been sent to your email and phone. <br> Please enter the passcode here.
        </h5>


        <ion-grid>
            <ion-row>
                <ion-col class="verifyotpcol">
                    <ion-input type="number" [(ngModel)]="myotp1" pattern="[0-9]{6}" #otp1 class="ion-text-center ion-input-class" maxlength="1" (keyup)="next(otp2)"></ion-input>
                </ion-col>
                <ion-col class="verifyotpcol">
                    <ion-input type="number" [(ngModel)]="myotp2" pattern="[0-9]{6}" #otp2 class="ion-text-center ion-input-class" maxlength="1" (keyup)="next(otp3)"></ion-input>
                </ion-col>
                <ion-col class="verifyotpcol">
                    <ion-input type="number" [(ngModel)]="myotp3" pattern="[0-9]{6}" #otp3 class="ion-text-center ion-input-class" maxlength="1" (keyup)="next(otp4)"></ion-input>
                </ion-col>
                <ion-col class="verifyotpcol">
                    <ion-input type="number" [(ngModel)]="myotp4" pattern="[0-9]{6}" #otp4 class="ion-text-center ion-input-class" maxlength="1" (keyup)="next(otp5)"></ion-input>
                </ion-col>
                <ion-col class="verifyotpcol">
                    <ion-input type="number" [(ngModel)]="myotp5" pattern="[0-9]{6}" #otp5 class="ion-text-center ion-input-class" maxlength="1" (keyup)="next(otp6)"></ion-input>
                </ion-col>
                <ion-col class="verifyotpcol">
                    <ion-input type="number" [(ngModel)]="myotp6" pattern="[0-9]{6}" #otp6 class="ion-text-center ion-input-class" maxlength="1"></ion-input>
                </ion-col>

            </ion-row>
        </ion-grid>

        <ion-grid>
           
            <ion-row class="ion-text-center">
                <ion-col>
                    <a href="JavaScript:void(0)" class="round-button gradient-background" (click)="goto_getstart()">
                        <ion-icon color="light" name="arrow-forward-outline" style="font-size: 30px;margin-top: 15%;"></ion-icon>
                    </a>
                </ion-col>
            </ion-row>
             <ion-row class="ion-text-center" style="padding-top: 10px;">
                <ion-col style="text-align: right;">
                    <a href="JavaScript:void(0)" (click)="goto_resendOtp()">
                        <!-- Resend OTP? -->
                        Didn't receive a passcode? Resend
                    </a>
                </ion-col>
            </ion-row>
        </ion-grid>

    </div>

</ion-content>