<!-- <ion-header no-border no-shadow>
    <ion-toolbar color="light">
        <ion-buttons slot="end">
            <ion-button (click)="close()">
                <ion-icon name="close-circle-outline" color="dark" (click)="close()"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header> -->
<ion-content>
    <div class="backMain">
        <ion-buttons slot="end">
            <ion-button (click)="close()">
                <ion-icon name="close-circle-outline" color="dark" (click)="close()"></ion-icon>
            </ion-button>
        </ion-buttons>
    </div>

    <div class="container">
        <div style="padding: 0px 15px;">
            You are now eligible for  half off the first 2 months  when upgrading to 
            <strong>Vibez Premium</strong> just by Pre Registering with us.
        </div>
      
        <br/><br/>

        <ion-button (click)="close()" color="light" style="border:3px solid #000000; border-radius: 10px;">Close</ion-button>



    </div>
</ion-content>