ion-content {
    --background: #FBFCFC;
}

.backMain {
    height: 50px;
    color: #000;
    font-size: 30px;
    line-height: 50px;
    text-align: right;
    z-index: 1;
    float: right;
    margin-top: 10px;
}

.container {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 55%;
    transform: translateY(-50%);
}

.container strong {
    font-size: 20px;
    line-height: 26px;
}

.container p {
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    margin: 0;
}

.container a {
    text-decoration: none;
}