<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home/tabs/myprofile"></ion-back-button>
    </ion-buttons>
    <ion-title>Update Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="wrapper">
    <div class="loginForm">
        <div class="tableCell">
          <div class="formElement">
            <ion-input type="text" class="myselect" [(ngModel)]="userInfo.name" placeholder="User Name"></ion-input>
          </div>
          <div class="formElement">
            <ion-input type="text" class="myselect" [(ngModel)]="userInfo.email_address" placeholder="User Email"></ion-input>
          </div>
          <div class="formElement">
            <ion-select [(ngModel)]="userInfo.gender" class="myselect" (ionChange)="genderValue($event)" [selectedText]="genderSelectedtext">
                <ion-select-option *ngFor="let gender of genderprefer">{{gender.Gender}}</ion-select-option>
            </ion-select>
          </div>
          <div class="formElement">
              <ion-datetime class="myselect" [(ngModel)]="userInfo.birthdate" displayFormat="DD-MMM-YYYY" placeholder="BIRTHDAY" min="1950-03-14" max="2001-01-01"></ion-datetime>
          </div>

          <div class="formElement">
            <ion-input type="text" class="myselect" [(ngModel)]="userInfo.city" placeholder="City"></ion-input>
          </div>
          <div class="formElement">
            <ion-input type="text" class="myselect" [(ngModel)]="userInfo.zipcode" placeholder="Zip Code"></ion-input>
          </div>

          <div class="formElement">
              <ion-select [(ngModel)]="userInfo.body_type" class="myselect" (ionChange)="bodytypeValue($event)" >
                  <ion-select-option *ngFor="let bodyt of bodytypearray">{{bodyt.bodytype}}</ion-select-option>
              </ion-select>
          </div>
          <div class="formElement">
              <ion-select [(ngModel)]="userInfo.height" class="myselect" (ionChange)="heightValue($event)" >
                  <ion-select-option *ngFor="let ht of userheightarray">{{ht.height}}</ion-select-option>
              </ion-select>
          </div>
          <div class="formElement">
              <ion-select [(ngModel)]="userInfo.no_of_children" class="myselect" (ionChange)="childValue($event)" >
                  <ion-select-option *ngFor="let ch of userchildarray">{{ch.child}}</ion-select-option>
              </ion-select>
          </div>
          <div class="formElement">
              <ion-select [(ngModel)]="userInfo.education" class="myselect" (ionChange)="educationValue($event)" >
                  <ion-select-option *ngFor="let ch of usereducationarray">{{ch.education}}</ion-select-option>
              </ion-select>
          </div>
          <div class="formElement">
              <ion-select [(ngModel)]="userInfo.smoke" class="myselect" (ionChange)="smokeValue($event)" >
                  <ion-select-option *ngFor="let ch of usersmokearray">{{ch.smoke}}</ion-select-option>
              </ion-select>
          </div>
          <div class="formElement">
            <ion-select [(ngModel)]="userInfo.Interested" class="myselect" (ionChange)="genderInterestedValue($event)" >
                <ion-select-option *ngFor="let gender of genderprefer">{{gender.Gender}}</ion-select-option>
            </ion-select>
          </div>
          <div class="formElement">
              <ion-button color="secondary" expand="full" class="btn-font-size-large" (click)="goto_updateProfile()">CONTINUE</ion-button>
          </div>
        </div>

    </div>
</div>
</ion-content>

