<ion-content>
  <div class="wrapper">
      <div class="loginForm">
          <div class="tableCell">
              <img class="logo" src="assets/images/logo.jpg" alt="Public Vibez" title="Public Vibez">

              <br><br>
              <p class="dream_para">DREAM OF FINDING LOVE</p>
              <br><br><br>
              <p class="single_p"><b>More singles who</b></p>

              <p class="single_p"><b>are more your style</b></p>
              <br><br><br>
              <p class="last_p">40,000,000 singles worldwide and</p>

              <p class="last_p">3 million messages sent daily</p>
              <br><br><br>
              <div class="formElement">
                  <ion-button color="secondary" expand="full" class="btn-font-size-large" (click)="goto_login()">LOGIN</ion-button>
              </div>
              <div class="formElement">
                  <ion-button color="tertiary" expand="full" class="btn-font-size-large" (click)="goto_signup()">SIGN UP</ion-button>
              </div>

          </div>

      </div>
  </div>
</ion-content>