.dream_para {
    color: grey;
    font-stretch: expanded;
    font-size: medium;
}

.single_p {
    color: #000000;
    font-stretch: expanded;
    font-size: 24px;
    text-align: center;
    padding-bottom: 10px;
}

.last_p {
    color: #981F40;
    font-stretch: expanded;
    font-size: medium;
    padding-bottom: 10px;
}