<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button (click)="onclickClose()" ></ion-back-button>
    </ion-buttons>
    <ion-title>Verification</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <img src="{{url}}thumbnail/{{userInfo.photoPath}}_thumb.jpg" />
      </ion-col>
      <ion-col>
        <img src="{{url}}thumbnail/{{userInfo.photo_name}}_thumb.jpg" />
      </ion-col>
    </ion-row>
  </ion-grid>  
  <div  style="margin: 0 20px;" >
    <ion-button (click)="approveChat()" style="width: 50%;">
        Approver
    </ion-button>
    <ion-button (click)="rejectChat()" style="width: 50%;">
        Reject
    </ion-button>
  </div>
</ion-content>
