.Photo-background {
    background-color: #fff;
}

.myselect {
    height: 50px;
    outline: none;
    width: 100%;
    border: none;
    padding: 0 15px 0 30px;
    background-color: transparent;
    position: relative;
    z-index: 1;
    font-size: 14px;
}

.selectEvnBox {
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 35px;
}