<ion-content class="mainDiv uploadInfo">
    <h2><span>Profile <b>Picture</b></span></h2>
    <img *ngIf="img" src="{{img.path}}" (click)="selectImage()" class="round-button-create-profile" style="height:100px;width:100px;">
    <a href="JavaScript:void(0)" *ngIf="!img" (click)="selectImage()" class="round-button-create-profile Photo-background" style="margin-top: 20%;">
        <ion-icon *ngIf="!img" name="add-outline" style="font-size: 50px;margin-top: 17%;color: darkgrey;"></ion-icon>
    </a>
    <br>
    <div style="width: 70%;margin-left: 15%;">
        <div class="formElement">
            <ion-checkbox slot="start" color="light" checked="true">
            </ion-checkbox>
            <ion-label color="light"> Would you like your photo to be blurry?<br/></ion-label>
        </div>
        <ion-label color="primary"> You can change this setting later.<br/></ion-label>
        <br>
    </div>
    <div class="form-div">
        <div class="formElement">
            <ion-select [(ngModel)]="preferredGender" class="selectEvnBox myselect" style="color: #fff;" placeholder="Gender">
                <ion-select-option *ngFor="let gender of genderprefer">{{gender.gendertype}}</ion-select-option>
            </ion-select>
        </div>
        <div class="formElement" style="display: none;">
            <ion-input type="text" [(ngModel)]="username" class="general-input ion-input-class" placeholder="Name"></ion-input>
        </div>
        <div class="formElement">
            <ion-datetime class="general-input ion-input-class" [(ngModel)]="userBirthday" displayFormat="DD-MMM-YYYY" placeholder="BIRTHDAY" min="1950-03-14" max="2001-01-01"></ion-datetime>
        </div>

        <ion-grid>
            <ion-row class="ion-text-center">
                <ion-col>
                    <a href="JavaScript:void(0)" class="round-button gradient-background" (click)="register_photo()">
                        <ion-icon color="light" name="arrow-forward-outline" style="font-size: 30px;margin-top: 15%;"></ion-icon>
                    </a>

                </ion-col>
            </ion-row>
        </ion-grid>

    </div>
</ion-content>