<ion-header>
    <ion-toolbar color="secondary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="home/tabs/chat"></ion-back-button>
        </ion-buttons>
        <ion-title *ngIf="reqDetail">{{reqDetail.name}}</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="sendInvitation()">
                <ion-icon name="add-circle-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content fullscreen="true">
    <ion-list>
        <div *ngFor="let chat of chats; let i = index;">
            <div class="coment-screen">
                <ion-card style="margin:0px;width:100%;padding:0px;">
                    <ion-card-content *ngIf="chat.user=='Requester' ">
                        <span style="font-size: 15px;">{{chat.sendDate | date:'d/M/y'}}</span> {{chat.message}}
                    </ion-card-content>
                    <ion-card-content style="float: right;" *ngIf="chat.user!='Requester' ">
                        <span style="font-size: 15px;">{{chat.sendDate | date:'d/M/y'}}</span> {{chat.message}}
                    </ion-card-content>
                </ion-card>
            </div>
        </div>
    </ion-list>
</ion-content>
<ion-footer translucent>
    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-icon style="height: 50px;width: 10%;float: right;background:#981f40 ;color: #fff;" (click)="sendMessage()" name="paper-plane"></ion-icon>

                <ion-input type="text" style="width: 90%;" placeholder="Type a message" [(ngModel)]="chat.message" name="message"></ion-input>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-footer>