.logo{
    max-width: 50%;
}
.logoTapCls{
    text-align: center;
    margin-top: 15%;
}
.socialLogin ul{
    margin-top: 15px!important;
}
ion-content{

    --background: #53abd9;
    --background: -moz-linear-gradient(left, #53abd9 0%, #395a6b 50%, #324a57 100%);
    --background: -webkit-linear-gradient(left, #53abd9 0%, #395a6b 50%, #324a57 100%);
    --background: linear-gradient(to right, #53abd9 0%, #395a6b 50%, #324a57 100%);
    display: table;
}