<ion-content>
    <div class="tableCell">
        <div class="logoTapCls">
            <img class="logo" src="assets/images/logo.png">
        </div>
        <p class="welcomeMsg"><span>Welcome to <b>VIBEZ</b></span></p>
        <div class="form-div">
            <div class="formElement">
                <ion-input type="email" [(ngModel)]="useremail" class="username ion-input-class" placeholder="Email id /Phone no."></ion-input>
            </div>
            <div class="formElement">
                <ion-input type="password" [(ngModel)]="userpwd" class="password ion-input-class" placeholder="password"></ion-input>
            </div>
            <ion-grid>
                <ion-row class="ion-text-center">
                    <ion-col>
                        <ion-button (click)="goto_tab()" color="light" expand="full" shape="round" class="ion-button-class">SIGN IN</ion-button>
                    </ion-col>
                </ion-row>
            </ion-grid>


        </div>
        <div class="socialLogin">
            <h4>OR</h4>
            <br/>
            <div class="form-div">
                <ion-grid>
                    <ion-row class="ion-text-center">
                        <ion-col>
                            <ion-button (click)="goto_SignUp()" color="light" expand="full" shape="round">SIGN UP</ion-button>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </div>
            <br/>
            <p>Login With</p>
            <ul>
                <li>
                    <img (click)="goto_Facebook()" src="assets/images/facebook.svg" alt="Facebook" title="Facebook">
                </li>
                <li>
                    <img (click)="goto_google()" src="assets/images/google.svg" alt="google" title="google">
                </li>
            </ul>

        </div>
    </div>
    <!--
          <div class="wrapper">
      <div class="loginForm">
          <div class="tableCell">
              <h1>Login</h1>
              <p class="headDesc">Login to see who's new in your area!</p>

              <div class="formElement">
                  <ion-input type="email" class="myselect"  placeholder="EMAIL ADDRESS"></ion-input>
              </div>
              <div class="formElement">
                  <ion-input type="password" class="myprassswordselect"  placeholder="password"></ion-input>
              </div>
              <br>
              <div class="formElement">
                  <ion-grid>
                      <ion-row>
                          <ion-col text-center>
                              <ion-label color="secondary" text-lg-capitalize>Forgot Password?</ion-label>
                          </ion-col>
                      </ion-row>
                  </ion-grid>
              </div>
              <br>
              <div class="formElement">
                  <ion-button color="secondary" expand="full" class="btn-font-size-large" (click)="goto_tab()">LOGIN</ion-button>
              </div>

              <p class="or">OR LOGIN WITH</p>
              <div class="socialLogin">
                  <img src="assets/images/facebook.svg" (click)="goto_Facebook()" alt="Facebook" title="Facebook">
                  <img src="assets/images/google-plus.svg" (click)="goto_google()" alt="google" title="google">
              </div>
          </div>
          <p class="note">*By selecting "Log in with Facebook" or "Log in with Google", you agree to our <b>Terms of User</b><br>(including the mandatory arbitration of bispute)</p>
         
      </div>
    </div>
    -->
</ion-content>