<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home/tabs/myprofile"></ion-back-button>
    </ion-buttons>
    <ion-title>Gallery</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="selectImage()">
        <ion-icon name="add-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-grid>
    <ion-row>
      <ion-col size="3" *ngFor='let photo of userPhotos'> 
        <img src="{{url}}thumbnail/{{photo.photo_name}}_thumb.jpg" />
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

