<!-- <ion-header class="other list mainDiv">
    <ion-toolbar>
        <div class="menuClick">

            <ion-title>
                <h1>Vibez <b>List</b></h1>
            </ion-title>
        </div>

    </ion-toolbar>
</ion-header> -->

<ion-content class="other list">
    <div class="mainDiv login">
        <!-- <header>
            <div class="menuClick">

            </div>
            <h1>Vibez <b>List</b></h1>
        </header> -->
        <div class="sortBy">
            <p>Sort By: </p>
            <div class="sortOpt">
                <button class="selected">Status</button><button>Name</button>
            </div>
        </div>
        <div class="listWrap">
            <div class="listIn">
                <div class="listInOpt actionBtns">
                    <div class="actionIn">
                        <img src="assets/images/pen.svg" alt="Edit" title="Edit">
                    </div>
                    <div class="actionIn">
                        <img src="assets/images/heartFill.svg" alt="Wishlist" title="Wishlist">
                    </div>
                    <div class="actionIn">
                        <img src="assets/images/bin.svg" alt="Delete" title="Delete">
                    </div>
                </div>
                <div class="listInOpt profile">
                    <img src="assets/images/profile.svg" alt="Profile" title="Profile">
                </div>
                <div class="listInOpt name">
                    <h2>Zami</h2>
                    <p>Designer</p>
                </div>
                <div class="listInOpt boolBtn">
                    <div class="boolBtnIn yes">
                        Yes
                    </div>
                    <div class="boolBtnIn no">
                        No
                    </div>
                </div>
            </div>
            <!-- <div class="listIn activeList">
                <div class="listInOpt actionBtns">
                    <div class="actionIn">
                        <img src="images/pen.svg" alt="Edit" title="Edit">
                    </div>
                    <div class="actionIn">
                        <img src="images/heartFill.svg" alt="Wishlist" title="Wishlist">
                    </div>
                    <div class="actionIn">
                        <img src="images/bin.svg" alt="Delete" title="Delete">
                    </div>
                </div>
                <div class="listInOpt profile">
                    <img src="images/profile.svg" alt="Profile" title="Profile">
                </div>
                <div class="listInOpt name">
                    <h2>Zami</h2>
                    <p>Designer</p>
                </div>
                <div class="listInOpt boolBtn">
                    <div class="boolBtnIn yes">
                        Yes
                    </div>
                    <div class="boolBtnIn no">
                        No
                    </div>
                </div>
            </div> -->
            <div class="listIn">
                <div class="listInOpt actionBtns">
                    <div class="actionIn">
                        <img src="assets/images/pen.svg" alt="Edit" title="Edit">
                    </div>
                    <div class="actionIn">
                        <img src="assets/images/heartFill.svg" alt="Wishlist" title="Wishlist">
                    </div>
                    <div class="actionIn">
                        <img src="assets/images/bin.svg" alt="Delete" title="Delete">
                    </div>
                </div>
                <div class="listInOpt profile">
                    <img src="assets/images/profile.svg" alt="Profile" title="Profile">
                </div>
                <div class="listInOpt name">
                    <h2>Zami</h2>
                    <p>Designer</p>
                </div>
                <div class="listInOpt boolBtn">
                    <div class="boolBtnIn yes">
                        Yes
                    </div>
                    <div class="boolBtnIn no">
                        No
                    </div>
                </div>
            </div>
            <div class="listIn">
                <div class="listInOpt actionBtns">
                    <div class="actionIn">
                        <img src="assets/images/pen.svg" alt="Edit" title="Edit">
                    </div>
                    <div class="actionIn">
                        <img src="assets/images/heartFill.svg" alt="Wishlist" title="Wishlist">
                    </div>
                    <div class="actionIn">
                        <img src="assets/images/bin.svg" alt="Delete" title="Delete">
                    </div>
                </div>
                <div class="listInOpt profile">
                    <img src="assets/images/profile.svg" alt="Profile" title="Profile">
                </div>
                <div class="listInOpt name">
                    <h2>Zami</h2>
                    <p>Designer</p>
                </div>
                <div class="listInOpt boolBtn">
                    <div class="boolBtnIn yes">
                        Yes
                    </div>
                    <div class="boolBtnIn no">
                        No
                    </div>
                </div>
            </div>
            <div class="listIn">
                <div class="listInOpt actionBtns">
                    <div class="actionIn">
                        <img src="assets/images/pen.svg" alt="Edit" title="Edit">
                    </div>
                    <div class="actionIn">
                        <img src="assets/images/heartFill.svg" alt="Wishlist" title="Wishlist">
                    </div>
                    <div class="actionIn">
                        <img src="assets/images/bin.svg" alt="Delete" title="Delete">
                    </div>
                </div>
                <div class="listInOpt profile">
                    <img src="assets/images/profile.svg" alt="Profile" title="Profile">
                </div>
                <div class="listInOpt name">
                    <h2>Zami</h2>
                    <p>Designer</p>
                </div>
                <div class="listInOpt boolBtn">
                    <div class="boolBtnIn yes">
                        Yes
                    </div>
                    <div class="boolBtnIn no">
                        No
                    </div>
                </div>
            </div>
            <div class="listIn">
                <div class="listInOpt actionBtns">
                    <div class="actionIn">
                        <img src="assets/images/pen.svg" alt="Edit" title="Edit">
                    </div>
                    <div class="actionIn">
                        <img src="assets/images/heartFill.svg" alt="Wishlist" title="Wishlist">
                    </div>
                    <div class="actionIn">
                        <img src="assets/images/bin.svg" alt="Delete" title="Delete">
                    </div>
                </div>
                <div class="listInOpt profile">
                    <img src="assets/images/profile.svg" alt="Profile" title="Profile">
                </div>
                <div class="listInOpt name">
                    <h2>Zami</h2>
                    <p>Designer</p>
                </div>
                <div class="listInOpt boolBtn">
                    <div class="boolBtnIn yes">
                        Yes
                    </div>
                    <div class="boolBtnIn no">
                        No
                    </div>
                </div>
            </div>
        </div>

    </div>

</ion-content>