@font-face {
    font-family: 'CaviarDreams';
    src: url('src/assets/fonts/CaviarDreams.ttf');
    font-weight: 200;
    font-style: normal;
}

// @font-face {
//     font-family: 'CaviarDreams_Bold';
//     src: url('../assets/fonts/CaviarDreams_Bold.ttf');
//     font-weight: 200;
//     font-style: normal;
// }
// @font-face {
//     font-family: 'CaviarDreams_BoldItalic';
//     src: url('../assets/fonts/CaviarDreams_BoldItalic.ttf');
//     font-weight: 200;
//     font-style: normal;
// }
// @font-face {
//     font-family: 'ClementePDao-Heavy';
//     src: url('../assets/fonts/ClementePDao-Heavy.ttf');
//     font-weight: 200;
//     font-style: normal;
// }