.closeCls{
    text-transform: capitalize;
    --background: transparent;
    color: #000;
    border: 5px solid #000;
    border-radius: 30px;
}
ion-card{
    margin: 50% 10px;
    padding: 20px 10px;
    height: 200px;
}
.divCloseDic{
    text-align: center;
    margin: 50px;
}