<ion-card>
  <ion-card-header>
    <ion-card-subtitle></ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    You are now eligible for half off the first 2 months when upgrading to <b>Vibez Premium</b> just by Pre Registering with us.
  
    <div style="text-align: center;margin-top: 50px;">
      <ion-button size="large" (click)="onClick_close()" class="closeCls">CLOSE</ion-button>
    </div>
  </ion-card-content>

</ion-card>