<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>My Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div *ngIf="userInfo">
      <div class="profileTop">
          <img class="profileChanges" (click)="onClickPhotos()" src="assets/images/dslr-camera.svg" alt="Change Picture" title="Change Picture">
          <img class="profileEdit" (click)="onClickEditProfile()" src="assets/images/edit.svg" alt="Edit Profile" title="Edit Profile">
      </div>
      <div class="profileDesc">
          <table>
              <tr>
                  <td colspan="2">
                      <img style="max-height: 200px;width: 100%;" src="{{url}}thumbnail/{{general.getUserPhotos()}}_thumb.jpg" alt="" title="">
                  </td>
              </tr>
              <tr>
                  <td>
                      <span>Passion Dating Name</span>
                      <h4> {{userInfo.name}}</h4>
                  </td>
                  <td>
                      <span>Birthdate</span>
                      <h4>{{userInfo.birthdate}}</h4>
                  </td>
              </tr>
              <tr>
                  <td colspan="2">
                      <span>Location</span>
                      <h4>{{userInfo.city}} {{userInfo.zipcode}}</h4>
                  </td>
              </tr>
              <tr>
                  <td colspan="2">
                      <span>Email</span>
                      <h4>{{userInfo.email_address}}</h4>
                  </td>
              </tr>
              <tr>
                  <th colspan="2">
                      <h4>Basic</h4>
                  </th>
              </tr>
              <tr>
                  <td>
                      <span>Sign</span>
                      <h4>Aquaries</h4>
                  </td>
                  <td>
                      <span>Height</span>
                      <h4>{{userInfo.height}}</h4>
                  </td>
              </tr>
              <tr>
                  <td>
                      <span>Gender</span>
                      <h4>{{userInfo.gender}}</h4>
                  </td>
                  <td>
                      <span>Interested In</span>
                      <h4>{{userInfo.Interested}}</h4>
                  </td>
              </tr>
              <tr>
                  <td>
                      <span>Ethenticity </span>
                      <h4>{{userInfo.city}}</h4>
                  </td>
                  <td>
                      <span>Body Type</span>
                      <h4>{{userInfo.body_type}}</h4>
                  </td>
              </tr>
              <tr>
                  <th colspan="2">
                      <span>Relationship History</span>
                      <h4>Add your relationship history</h4>
                  </th>
              </tr>
              <tr>
                  <td colspan="2">
                      <span>Children</span>
                      <h4>{{userInfo.no_of_children}}</h4>
                  </td>
              </tr>
              <tr>
                  <td colspan="2">
                      <span>Education</span>
                      <h4>{{userInfo.education}}</h4>
                  </td>
              </tr>
              <tr>
                  <td colspan="2">
                      <span>Smoking</span>
                      <h4>{{userInfo.smoke}}</h4>
                  </td>
              </tr>
          </table>
      </div>
  </div>

</ion-content>
