* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-family: Lato, sans-serif
}

.tableCell {
    display: table-cell;
    vertical-align: middle;
}

.mainDiv {
    width: 100%;
    height: 100vh;
    max-width: 400px;
    --background: #363636;
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#63bbe1', endColorstr='#060709', GradientType=1);
    display: table;
}

.other .mainDiv {
    background: #55b4e0;
    background: -moz-linear-gradient(left, #55b4e0 0%, #3a5d70 50%, #324957 100%);
    background: -webkit-linear-gradient(left, #55b4e0 0%, #3a5d70 50%, #324957 100%);
    background: linear-gradient(to right, #55b4e0 0%, #3a5d70 50%, #324957 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#55b4e0', endColorstr='#324957', GradientType=1);
}

.other .logo {
    height: 100px;
    display: block;
    margin: auto;
}

.formElement {
    padding: 10px 0 !important;
}

.form-div {
    width: 80%;
    margin: auto;
}

.ion-input-class {
    height: 50px;
    width: 100%;
    border: solid 2px #fff;
    outline: none;
    background-color: transparent;
    border-radius: 50px;
    padding: 10px 15px;
    color: #fff;
}

.username,
.password {
    padding-left: 60px !important;
    background-size: 25px;
    background-position: 15px center;
    background-repeat: no-repeat;
}

.general-input {
    padding-left: 45px !important;
}

.username {
    background-image: url(../images/user.svg);
}

.password {
    background-image: url(../images/unlock.svg);
}

.ion-input-class::placeholder {
    color: #fff;
}

.ion-button-class {
    color: #006993 !important;
    text-transform: uppercase;
    font-size: 18px;
}

.welcomeMsg {
    margin: 20px 20px;
    text-align: center;
    color: #fff;
    font-size: 20px;
}

.welcomeMsg span {
    border-top: solid 1px #fff;
    padding-top: 5px;
}

.socialLogin h4 {
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 20px;
    text-align: center;
}

.socialLogin p {
    text-align: center;
}

.socialLogin ul {
    margin-top: 40px;
    text-align: center;
}

.socialLogin li {
    display: inline-block;
    vertical-align: middle;
}

.socialLogin img {
    height: 40px;
    margin: 0 10px;
}

.other .uploadInfo {
    background: #363636
}

.uploadInfo h2 {
    text-align: center;
    color: #fff;
    color: #37A4DC;
    margin: 20px 0 10px 0;
}

.uploadInfo h2 span {
    border-bottom: solid 2px #fff;
}

.uploadInfo h2 b {
    color: #fff;
    text-transform: uppercase;
}

.selectBox:before,
.selectBox:after {
    position: absolute;
    content: "";
    height: 50px;
    z-index: -1
}

.selectBox:before {
    width: 20px;
    background-color: #37A4DC;
    left: 0;
    z-index: 0
}

.selectBox:after {
    width: calc(50% - 10px);
    /* background-color: #CBCCCE; */
    left: 20px;
    z-index: 0
}

.selectBox {
    background-color: #fff;
    position: relative;
    width: 100%
}

.selectBox select {
    height: 50px;
    outline: none;
    width: 100%;
    border: none;
    padding: 0 15px 0 30px;
    background-color: transparent;
    position: relative;
    z-index: 1;
    font-size: 17px;
}

.round-button {
    margin: auto;
    display: block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border: 2px solid #f5f5f5;
    border-radius: 50%;
    color: #f5f5f5;
    text-align: center;
    text-decoration: none;
    background: #363636;
    box-shadow: 0 0 3px gray;
    font-size: 15px;
    font-weight: bold;
}

.round-button:hover {
    background: #777555;
}

.round-button-create-profile {
    margin: auto;
    display: block;
    width: 80px;
    height: 80px;
    line-height: 80px;
    border: 2px solid #f5f5f5;
    border-radius: 50%;
    color: #f5f5f5;
    text-align: center;
    text-decoration: none;
    background: #363636;
    box-shadow: 0 0 3px gray;
    font-size: 15px;
    font-weight: bold;
}

.gradient-background {
    background-color: black;
    /* For browsers that do not support gradients */
    background-image: linear-gradient(90deg, grey, black);
    /* Standard syntax (must be last) */
}

.myheader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 5px 0;
    max-width: 400px;
    background-color: #353334;
    height: 8%;
}

.myheader h1 {
    text-align: center;
    width: 100%;
    /* line-height: 40px; */
    color: #379DE5;
    font-size: 20px;
}

.list header h1 {
    color: #E74447;
}

.list header h1 b {
    font-weight: 800;
    color: #fff
}

.myheader .menuClick {
    position: absolute;
    left: 0;
    top: 0;
}

.tabOpt {
    padding: 10px 10px;
    text-align: center;
    margin-top: 50px;
    background-color: #000
}

.tabOpt li {
    display: inline-block;
    vertical-align: middle;
    border-right: solid 1px #fff;
    color: #fff;
    font-weight: 400;
    width: 20%
}

.tabOpt li:last-child {
    border-right: none;
}

.tabOpt li.selected {
    color: #379DE5
}

.searchTop {
    width: 100%;
    margin: 0 auto;
    padding: 10px;
    background: #55b4e0;
    background: -moz-linear-gradient(left, #55b4e0 0%, #3a5d70 50%, #324957 100%);
    background: -webkit-linear-gradient(left, #55b4e0 0%, #3a5d70 50%, #324957 100%);
    background: linear-gradient(to right, #55b4e0 0%, #3a5d70 50%, #324957 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#55b4e0', endColorstr='#324957', GradientType=1);
}

.searchText,
.wishlist,
.add {
    height: 40px;
    display: inline-block;
    vertical-align: middle;
}

.wishlist,
.add {
    width: 30px;
    height: 30px;
    margin: 5px;
    border-radius: 100%;
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: center;
}

.searchText {
    width: calc(100% - 100px);
}

.searchText input {
    background-color: rgba(0, 0, 0, 0.05);
    border: none;
    outline: none;
    border-radius: 0;
    height: 40px;
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 10px center;
    background-image: url(../images/search.svg);
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    width: 100%;
}

.searchText input:focus {
    background-position: calc(100% - 10px) center;
}

.wishlist {
    background-image: url(../images/heart.svg);
    border: solid 1px red;
}

.add {
    background-image: url(../images/plus.svg);
    border: solid 1px #fff
}

.sortBy {
    padding: 10px;
    background-color: #fff;
}

.sortBy p,
.sortOpt {
    display: inline-block;
    vertical-align: middle;
}

.sortBy p {
    width: 70px;
}

.sortOpt {
    width: calc(100% - 70px);
    text-align: right;
}

.sortOpt button {
    display: inline-block;
    vertical-align: middle;
    margin: 0 5px;
    padding: 10px 20px;
    line-height: 20px;
    border: solid 2px #E8E9EB;
    color: #E8E9EB;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    background-color: transparent;
    border-radius: 40px;
}

.sortOpt button.selected {
    border: solid 2px #000;
    color: #36A6DD;
    font-weight: 700;
}

.listIn {
    margin-bottom: 20px;
}

.listWrap {
    padding: 20px;
    background-color: #fff;
    overflow: auto;
}

.listInOpt {
    display: inline-block;
    vertical-align: middle;
}

.listInOpt.actionBtns img {
    filter: invert(100%);
    -webkit-filter: invert(100%);
    -moz-filter: invert(100%);
    margin: 25px 0;
}

.actionIn {
    display: inline-block;
    vertical-align: middle;
}

.listInOpt img {
    width: 20px;
}

.statusIn {
    height: 15px;
    width: 15px;
    background-color: #8AC33E;
    border-radius: 100%
}

.location,
.status {
    padding: 0 10px;
}

.listInOpt.actionBtns {
    width: 10px;
    overflow: hidden;
    background-color: #37A4DC;
    padding: 0px;
    height: 90px;
}

.actionBtns img {
    width: 0px;
}

.profile {
    padding: 0 10px;
}

.profile img {
    width: 50px;
}

.name {
    width: calc(100% - 165px)
}

.name h2 {
    font-size: 20px;
}

.name p {
    font-size: 14px;
}

.location img {
    width: 30px;
}

.activeList .listInOpt.actionBtns {
    background-color: #E74447;
    height: 90px;
    padding: 0 10px;
    width: 110px;
}

.activeList .listInOpt img {
    width: 20px;
    margin: 35px 0;
}

.activeList .actionIn {
    padding: 0 5px;
}

.activeList .profile {
    padding: 0;
    width: 0px;
    overflow: hidden;
}

.activeList .name {
    width: calc(100% - 185px);
    padding: 0 10px;
}

.boolBtn {
    padding: 0 10px;
}

.boolBtnIn {
    line-height: 20px;
    font-size: 16px;
    padding: 10px 20px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    width: 70px;
}

.yes {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: #37A4DC
}

.no {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #E74447
}

.list .name {
    width: calc(100% - 250px);
    padding: 0 10px;
}

.list .email {
    width: calc(100% - 180px);
    padding: 0 10px;
}

.list .profile img {
    width: 60px;
}

.list .activeList .name {
    width: calc(100% - 270px);
}