<ion-content>

    <div class="myrestaurant">
        <ion-item>
            <div slot="start">
                <ion-label> RESTAURANT NAME</ion-label>
            </div>
            <div slot="end">
                <ion-button color="dark" fill="outline" expand="full" shape="round">Take me there</ion-button>
            </div>
        </ion-item>
        <div class="imageSub" style="width: 100%;">
            <img src="assets/images/rest0.jpg" alt="Something" />
            <div class="blackbg"></div>
            <div class="label">
                <ion-icon name="document-text-outline" (click)="rest_feedback()" style="float: left;font-size: 30px;padding-left: 10px;">
                </ion-icon>
                <ion-icon name="create-outline" (click)="rest_details()" style="float: left;font-size: 30px;padding-left: 10px;"></ion-icon>
                <ion-icon name="heart-circle-outline" style="float: right;font-size: 30px;color:red"></ion-icon>
            </div>
        </div>
    </div>


    <div class="myrestaurant">
        <ion-item>
            <div slot="start">
                <ion-label> RESTAURANT NAME</ion-label>
            </div>
            <div slot="end">
                <ion-button color="dark" fill="outline" expand="full" shape="round">Take me there</ion-button>
            </div>
        </ion-item>
        <div class="imageSub" style="width: 100%;">
            <img src="assets/images/rest1.jpg" alt="Something" />
            <div class="blackbg"></div>
            <div class="label">
                <ion-icon name="document-text-outline" style="float: left;font-size: 30px;padding-left: 10px;">
                </ion-icon>
                <ion-icon name="create-outline" style="float: left;font-size: 30px;padding-left: 10px;"></ion-icon>
                <ion-icon name="heart-circle-outline" style="float: right;font-size: 30px;color:red"></ion-icon>
            </div>
        </div>
    </div>

    <div class="myrestaurant">
        <ion-item>
            <div slot="start">
                <ion-label> RESTAURANT NAME</ion-label>
            </div>
            <div slot="end">
                <ion-button color="dark" fill="outline" expand="full" shape="round">Take me there</ion-button>
            </div>
        </ion-item>
        <div class="imageSub" style="width: 100%;">
            <img src="assets/images/rest2.jpg" alt="Something" />
            <div class="blackbg"></div>
            <div class="label">
                <ion-icon name="document-text-outline" style="float: left;font-size: 30px;padding-left: 10px;">
                </ion-icon>
                <ion-icon name="create-outline" style="float: left;font-size: 30px;padding-left: 10px;"></ion-icon>
                <ion-icon name="heart-circle-outline" style="float: right;font-size: 30px;color:red"></ion-icon>
            </div>
        </div>
    </div>

</ion-content>