<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home/tabs/map"></ion-back-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col style="text-align: center;border: 0.5px solid #000;" *ngFor='let user of userList' size="4">
        <div *ngIf="user.photoList.length &gt; 0" (click)="getUserProfile(user)">
          <img style="border-radius: 50%;max-height: 85px;" src="{{imgPath}}{{user.photoList[0]['photo_name']}}" >
        </div>
        <div (click)="getUserProfile(user)">{{user.name?user.name:user.email_address}}</div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
