<ion-content class="mainDiv uploadInfo">

    <a href="" class="round-button-create-profile gradient-background" style="margin-top: 20%;">
        <ion-icon name="person-outline" style="font-size: 50px;margin-top: 10%;"></ion-icon>
    </a>
    <br>
    <h2><span>CREATE <b>PROFILE</b></span></h2>
    <div class="form-div">
        <div class="formElement">
            <ion-input type="text" [(ngModel)]="userNickName" class="general-input ion-input-class" placeholder="Name"></ion-input>
        </div>
        <div class="formElement">
            <ion-input type="email" [(ngModel)]="userEmail" class="general-input ion-input-class" placeholder="Email"></ion-input>
        </div>
        <div class="formElement">
            <ion-input type="tel" [(ngModel)]="userMobile" class="general-input ion-input-class" placeholder="Mobile Number"></ion-input>
        </div>
        <div class="formElement">
            <ion-input type="password" [(ngModel)]="userPass" class="general-input ion-input-class" placeholder="password"></ion-input>
        </div>
        <div class="formElement">
            <ion-checkbox slot="start" color="light" checked="true" (ionChange)="checkEvent()">
            </ion-checkbox>
            <ion-label color="light"> Let Vibez know your location</ion-label>
        </div>
        <ion-grid>
            <ion-row class="ion-text-center">
                <ion-col>
                    <a href="JavaScript:void(0)" class="round-button gradient-background" (click)="goto_getstart()">
                        <ion-icon color="light" name="arrow-forward-outline" style="font-size: 30px;margin-top: 15%;"></ion-icon>
                    </a>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
</ion-content>