.myselect {
    height: 40px;
    width: 100%;
    border: solid 1px #981F40;
    text-align: center;
    outline: none;
    text-transform: uppercase;
    padding-top: 10px;
}

datetime-text {
    padding: 13px !important;
}