<!-- <ion-header>
  <ion-toolbar color="secondary">
    <ion-title>Location</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
    <div #mapElement class="map">
        Maps
    </div>
</ion-content>
<ion-footer style="margin-bottom: 16%;">
    <ion-label>Radar Range - {{radarrange}} m</ion-label>
    <ion-item>
        <ion-range [value]="radarrange" (ionChange)="myrange($event)" min="10" max="1000" step="5" snaps="true" color="secondary">
            <ion-label slot="start">10</ion-label>
            <ion-label slot="end">1000</ion-label>
        </ion-range>
    </ion-item>
</ion-footer>