.map {
    height: 100%;
}

.welcome-card img {
    height: 100%;
    // max-height: 35vh;
    // overflow: hidden;
}
.range{
    position: absolute;
    right: -30%;
    bottom: 270px;
    width: 290px;

    -ms-transform: rotate(-90deg); /* IE 9 */
   -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
   transform: rotate(-90deg);
 i.icon{
     -ms-transform: rotate(90deg); /* IE 9 */
   -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
   transform: rotate(90deg);
 }
}