<ion-header>
  <ion-toolbar color="secondary">
    <ion-title> Membership Setting</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main">
      <h1>Select Your Plan</h1>
      <div class="discountCard oneMonth">
          <div class="discountPer">upto<br>30%</div>
          <h4>Membership for 1 month plan</h4>
          <h4>$10</h4>
          <button>Try Now</button>
      </div>
      <div class="discountCard sixMonth">
          <div class="discountPer">upto<br>30%</div>
          <h4>Membership for 1 month plan</h4>
          <h4>$10</h4>
          <button>Try Now</button>
      </div>
      <div class="discountCard oneYear">
          <div class="discountPer">upto<br>30%</div>
          <h4>Membership for 1 month plan</h4>
          <h4>$10</h4>
          <button>Try Now</button>
      </div>
  </div>


</ion-content>