<ion-content>

    <div class="container">
        <div>You are now eligible for  half of the first two months when upgrading to 
            <strong>Vibez Premium</strong>just by Pre Registering with us.</div>
         <br/>
        <ion-button (click)="close()" color="light" style="border:3px solid #000000; border-radius: 15px;">Close</ion-button>
    </div>
</ion-content>