ion-content {
    --background: #FBFCFC;
    // font-family: 'CaviarDreams';
}

.container {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    font-family: 'ClementePDae-Light';
}

.container strong {
    font-family: 'ClementePDao';
    font-size: 20px;
    line-height: 26px;
}

.container p {
    font-size: 16px;
    line-height: 22px;
    color: #000000;
    margin: 0;
}

.container a {
    text-decoration: none;
}