<ion-content class="mainDiv uploadInfo">

    <a href="" class="round-button-create-profile gradient-background" style="margin-top: 20%;">
        <ion-icon name="person-outline" style="font-size: 50px;margin-top: 10%;"></ion-icon>
    </a>
    <br>
    <h2><span>CREATE <b>PROFILE</b></span></h2>
    <!-- <p>Address - {{geoAddress}}</p> -->
    <div class="form-div">
        <div class="formElement">
            <ion-input type="text" [(ngModel)]="userArea" class="general-input ion-input-class" placeholder="Area Name"></ion-input>
        </div>
        <div class="formElement">
            <ion-input type="text" [(ngModel)]="usercity" class="general-input ion-input-class" placeholder="Area city"></ion-input>
        </div>
        <div class="formElement">
            <ion-input type="email" [(ngModel)]="userPincode" class="general-input ion-input-class" placeholder="Area Pincode"></ion-input>
        </div>
        <div class="formElement">
            <ion-input type="email" [(ngModel)]="userState" class="general-input ion-input-class" placeholder="State"></ion-input>
        </div>

        <div class="formElement">



        </div>
        <ion-grid>
            <ion-row class="ion-text-center">
                <ion-col>
                    <a href="JavaScript:void(0)" class="round-button gradient-background" (click)="goto_getstart()">
                        <ion-icon color="light" name="arrow-forward-outline" style="font-size: 30px;margin-top: 15%;"></ion-icon>
                    </a>

                </ion-col>
            </ion-row>
        </ion-grid>


    </div>
</ion-content>