<ion-header>
    <ion-toolbar>
        <ion-buttons>
            <ion-button>
                <ion-icon name="arrow-back-outline" style="font-size: 15px; padding-left: 15px;"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    User Profile
</ion-content>